body {
  font-size: 29px;
  background-color:f6f5f5;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
padding: 4px;
  color:#276678;
  text-align: center;
  text-shadow: 10px 2px 2px #d3e0ea
;
}

h2 {
 color:#1687a7;


}
p {
  color:rgb(236, 10, 138);
  padding: 10px
}

img {
padding: 3px;
  width: 60%;
  height: 10%;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  box-shadow:0 8px 12px 0 rgb(10, 0, 10);
}

footer {
  text-align: center;
}